html,body {
  height: 100%;
  margin: 0;
  background-color: #F8F8F8;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #D32F2F;
  color: white;
}
core-toolbar a:link, core-toolbar a:visited {
  color: white;
  text-decoration: none;
}
paper-button {
  color: white;
  background: #00B0FF;
}
paper-button a:link, paper-button a:visited {
  color: white;
  text-decoration: none;
}
div.content {
  max-width: 90%;
  margin: 0 auto;
}
div.actions {
  margin-top: 2em;
  text-align: center;
}
hr {
  color: lightgray;
}
