html,body {
  height: 100%;
  margin: 0;
  color: rgba(0,0,0,0.87);
  background-color: #FAFAFA;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #D32F2F;
  color: white;
}
core-toolbar a:link, core-toolbar a:visited {
  color: white;
  text-decoration: none;
}
paper-button:hover {
  background: white;
}
paper-button.default {
  color: #FAFAFA;
  background: #00B0FF;
}
paper-button.default:hover {
  background: #40C4FF;
}
paper-button a:link, paper-button a:visited {
  color: inherit;
  text-decoration: none;
}

paper-tabs {
  color: #00B0FF;
}
paper-tabs::shadow #selectionBar {
  background-color: #00B0FF;
}
paper-tabs paper-tab::shadow #ink {
  color: #00B0FF;
}

div#content {
  max-width: 90%;
  margin: 0 auto;
}
div.actions {
  margin-top: 2em;
  text-align: center;
}
div.video {
  min-height: 7em;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
div.poster {
  width: 5.5em;
  height: 8em;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
div.poster img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
div.desc {
  margin-left: 1.5em;
  display: inline-block;
  vertical-align: top;
}
.title {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 1em;
}
a {
  color: inherit;
  text-decoration: none;
}
div.video .year {
  color: rgba(0,0,0,0.54);
  font-size: 0.9em;
}
.year {
  margin-right: 0.7em;
}
div.video .rated {
  color: rgba(0,0,0,0.54);
  font-size: 0.9em;
}
.rated {
  margin-right: 0.7em;
}
div.video .duration {
  color: rgba(0,0,0,0.54);
  font-size: 0.9em;
}
div.video .summary {
  color: rgba(0,0,0,0.54);
}
