html,body {
  height: 100%;
  margin: 0;
  background-color: #F8F8F8;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #D32F2F;
  color: white;
}
core-toolbar a:link, core-toolbar a:visited {
  color: white;
  text-decoration: none;
}
paper-button {
  color: white;
  background: #00B0FF;
}
paper-button a:link, paper-button a:visited {
  color: white;
  text-decoration: none;
}
div.content {
  max-width: 90%;
  margin: 0 auto;
}
div.actions {
  margin-top: 2em;
  text-align: center;
}
div.video {
  min-height: 7em;
  border-bottom: 1px solid lightgray;
}
div.video hr {
  clear: left;
  margin-bottom: 0;
}
div.poster {
  width: 64px;
  max-height: 64px;
  clear: both;
  float: left;
}
div.poster img {
  max-height: 100%;
  max-width: 100%;
}
div.desc {
  margin-left: 80px;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
}
.rated, .duration {
  font-size: 0.9em;
  margin-left: 1em;
}
