<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <script src="components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="components/polymer/polymer.html">
    <link rel="import" href="components/iron-icons/iron-icons.html">
    <link rel="import" href="components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="components/paper-button/paper-button.html">
    <link rel="import" href="components/paper-ripple/paper-ripple.html">
    <link rel="import" href="components/paper-tabs/paper-tabs.html">

    <link rel="import" href="custom-style.html">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="title.css">
  </head>
  <body unresolved>
    <paper-header-panel>
      <paper-toolbar>
        <div>Video</div>
      </paper-toolbar>
      <div>
        <div id="content">
          <div id="desc" class="block two-columns">
            <div id="poster" class="left-column">
              <img src="placeholder.png" alt="poster" />
            </div>
            <div id="info">
            </div>
          </div>
          <div id="links" class="block">
            <paper-button raised>
              <iron-icon icon="file-download"></iron-icon>
              <a href="video-client-release.apk" type="application/vnd.android.package-archive">Download App</a>
            </paper-button>
          </div>
          <div id="seasons" class="block">
          </div>
          <div id="season" class="block two-columns">
            <div id="episodes" class="left-column">
            </div>
            <div id="episode">
            </div>
          </div>
          <div id="player" class="block">
            <video controls="" preload="none">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </paper-header-panel>
  </body>
</html>

