<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <script src="components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="components/font-roboto/roboto.html">
    <link rel="import" href="components/core-header-panel/core-header-panel.html">
    <link rel="import" href="components/core-toolbar/core-toolbar.html">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="video.css">
  </head>
  <body unresolved>
    <core-header-panel>
      <core-toolbar>
        <div>Video</div>
      </core-toolbar>
      <div id="content">
        <div class="block">
          <div id="poster">
            <img src="placeholder.png" alt="poster" />
          </div>
          <div id="info">
          </div>
        </div>
        <div id="player" class="block">
          <video controls="" preload="none">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </core-header-panel>
  </body>
</html>

