<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="video">
      <div class="poster">
        <a target="_blank"><img src="placeholder.png" alt="poster" /></a>
      </div>
      <div class="desc">
        <p>
          <span class="title"><a target="_blank">Title</a></span>
          <span class="year">2014</span>
          <span class="rated">R</span>
          <span class="duration">120 mins</span>
        </p>
        <p class="genres">Genres</p>
        <p class="stars">Starring</p>
        <p class="summary">Summary</p>
      </div>
    </div>
  </body>
</html>
