<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="video">
      <div class="poster">
        <img src="placeholder.png" alt="poster" />
      </div>
      <div class="desc">
        <p>
          <span class="title">Title</span>
          <span class="rated"></span>
          <span class="duration"></span>
        </p>
        <ul style="list-style:none;">
          <li>
            <p><span>Description</span> <a>Link</a></p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
